<!DOCTYPE html>
<html>
  <head>
    <title>PROFILE PAGE</title>
    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../vendors/angular-route.min.js" charset="utf-8"></script>
    <script src="../scripts/script.js" charset="utf-8"></script>
  </head>
  <body ng-app="myApp">
  <h1>User Profile</h1>

<div ng-controller="profileController">
  <h3>Favorites</h3>
    <div ng-repeat="vid in display">
      <img height='300' width='auto' class = '.img-responsive'/>
          <iframe style="display:block" width="440" height="260" ng-src="{{ vid.id.videoId | youtubeEmbedUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
  </div>
  </body>
</html>
